body{
    color: white;
    margin: 3%;
    padding: 0%;
    background-color: rgb(1, 33, 35);
    font-size: x-large;
    font-weight: 850;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    /* align-items: center; */
    background-size: 100%;
}